{% extends 'base.html' %}

{% block title %}Оформление заказа{% endblock %}

{% block content %}
<h1>Оформление заказа</h1>
<div class="order-info">
    <h3>Вы выбрали:</h3>
    <ul>
        {% for item in cart %}
        <li>
            {{ item.quantity }}x {{ item.product.name }}
            <span>$ {{ item.total_price|floatformat:"2" }}</span>
        </li>
        {% endfor %}
        {% with coupon=cart.coupon %}
        {% if coupon %}
        <li>
            "{{ coupon.code }}" (скидка - {{ coupon.discount }}%)
            <span>
                - ${{ cart.get_discount|floatformat:"2" }}
            </span>
        </li>
        {% endif %}
        {% endwith %}
    </ul>
    <p>
        Общая цена: $ {{ cart.get_full_price_after_discount|floatformat:"2" }}
    </p>
</div>

<form action="."
      method="POST"
      class="order-form">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Продолжить оформление">
</form>
{% endblock %}