{% load static %}
<div class="recommendations {{ cart_css }}">
    <h3>Вместе с этими товарами часто берут</h3>
    {% for product in recommendations %}
    <div class="item">
        <a href="{{ product.get_absolute_url }}">
            <img src="{% if product.photo %}
                {{ product.photo.url }}
                {% else %}
                {% static 'img/no_image.png' %}
                {% endif %}">
        </a>
        <p>
            <a href="{{ product.get_absolute_url }}">
                {{ product.name }} ({{ product.category }})
            </a>
        </p>
    </div>
    {% endfor %}
</div>