{% extends 'base.html' %}
{% block title %}Оплата {% endblock %}
{% block content %}
<h1>Оплата по кредитной карте</h1>
<form action="." method="post" id="payment">
    {% csrf_token %}

    <label for="card-number">Номер карты</label>
    <div id="card-number" class="field"></div>

    <label for="cvv">CVV</label>
    <div id="cvv" class="field"></div>

    <label for="expiration-date">Дата окончания</label>
    <div id="expiration-date" class="field"></div>

    <input type="hidden" id="nonce" name="payment_method_nonce" value="">
    <input type="submit" value="Оплатить">
</form>


<!--Подключаем клиента Braintree (загружаем обязательные компоненты клиента)-->
<script src="https://js.braintreegateway.com/web/3.29.0/js/client.min.js"></script>

<!--Подключаем компонент Hosted Fields (загружаем Hosted Fields компоненты для формирования полей)-->
<script src="https://js.braintreegateway.com/web/3.29.0/js/hosted-fields.min.js"></script>
<!--ниже код javascript, с использованием библиотек, подклюенных выше (SDK Braintree)
Что он делает? Он получает token из контроллера payment_process_view (python) при GET запросе,
формирует поля где у div id card-number, cvv, expiration-date (если токен валидный)
также, когда мы делаем post запрос этот код успевает сформировать защищенный токен
для транзакции и послать его с полем payment_method_nonce в post запросе
(аттрибут name в input). Также код ниже обрабатывает кучу ошибок
а как он узнает, что нужно использовать input с name payment_method_nonce?
благодаря id этого input - id="nonce"-->
<script>
    var form = document.querySelector('#payment');
    var submit = document.querySelector('input[type="submit"]');

    braintree.client.create({
      authorization: '{{ client_token }}'
    }, function (clientErr, clientInstance) {
      if (clientErr) {
        console.error(clientErr);
        return;
      }

      braintree.hostedFields.create({
        client: clientInstance,
        styles: {
          'input': {'font-size': '13px'},
          'input.invalid': {'color': 'red'},
          'input.valid': {'color': 'green'}
        },
        fields: {
          number: {selector: '#card-number'},
          cvv: {selector: '#cvv'},
          expirationDate: {selector: '#expiration-date'}
        }
      }, function (hostedFieldsErr, hostedFieldsInstance) {
        if (hostedFieldsErr) {
          console.error(hostedFieldsErr);
          return;
        }

        submit.removeAttribute('disabled');

        form.addEventListener('submit', function (event) {
          event.preventDefault();

          hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
            if (tokenizeErr) {
              console.error(tokenizeErr);
              return;
            }
            // set nonce to send to the server
            document.getElementById('nonce').value = payload.nonce;
            // submit form
            document.getElementById('payment').submit();
          });
        }, false);
      });
    });

</script>
{% endblock %}