{% extends 'base.html' %}
{% load static %}
{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="product-detail">
    <img src="{% if product.photo %}
            {{ product.photo.url }}
            {% else %}
            {% static 'img/no_image.png' %}
            {% endif %}">
    <h1>
        {{ product.name }}
    </h1>
    <h2>
        <a href="{{ product.category.get_absolute_url }}">
            {{ product.category.name }}
        </a>
    </h2>
    <p class="price">
        $ {{ product.price }}
    </p>
    <form action="{% url 'cart:add_to_cart' product_id=product.pk %}" method="POST">
        {% csrf_token %}
        {% for field in cart_form %}

        {{ field.errors }}
        {{ field }} &nbsp;
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}


        {% endfor %}
        <input type="submit" value="Добавить в корзину">
    </form>
    {{ product.description|linebreaks }}
</div>
{% endblock %}